In [142]:
# importing libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import urllib

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [128]:
# connecting to browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)
# opening url
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [129]:
#creating lists to append scraped data
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

#scraping data from website
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]"):
    Rank.append(i.text)
Rank=Rank[0:30]

for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]"):
    Name.append(i.text)
Name=Name[0:30]

for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]"):
    Artist.append(i.text)
Artist=Artist[0:30]

for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]"):
    Upload_Date.append(i.text)
Upload_Date=Upload_Date[0:30]

Views=[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]"):
            Views.append(i.text)
Views=Views[0:30]

#creating dataframe from scraped data
wiki=pd.DataFrame({})
wiki['Rank']=Rank
wiki['Name[1]']=Name
wiki['Artist']=Artist
wiki['Upload Date']=Upload_Date
wiki['Views']=Views

In [132]:
wiki.head(300)

,Rank,Name[1],Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.74
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.39
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.43
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.34
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.13
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.20
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.14
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.12
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.08
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.91
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.48
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.38
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.36
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.31
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.27
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.08
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.08
19,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.07
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.06
21,22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.05
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.04
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.04
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.00
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.93
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.86
27,28.,"""Hello""[53]",Adele,"October 22, 2015",2.84
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.84
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.83

In [477]:
wiki.to_csv('Question_1wiki.csv') # saving data to csv file

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through cod

In [71]:
#creating connection with browser and opening url

driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.bcci.tv/"
driver.get(url)

In [72]:
time.sleep(3) # 3 seconds delay
# opening an element on webpage
kk=driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']")
driver.get(kk.get_attribute("href"))

In [105]:

# creating lists to append scraped data 
Match_title=[]

Series=[] 

Place=[]

Date=[]

Time=[]
day=[]
month=[]

#scraping data from website
ss=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']")
for i in ss:
    Series.append(i.text.replace('\n',' '))
    
    
mt=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
for i in mt:
    Match_title.append(i.text.replace('\n',' '))
    
    
plc=driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p/span")
for i in plc:
    Place.append(i.text.replace('\n',' '))
    
    
    
dy=driver.find_elements_by_xpath("//span[@class='fixture__date']")
for i in dy:
    day.append(i.text.replace('\n',' '))
    
mn=driver.find_elements_by_xpath("//span[@class='fixture__month']")
for i in mn:
    month.append(i.text.replace('\n',' '))
    
    
    
    
    

tt=driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in tt:
    Time.append(i.text.replace('\n',' '))

In [115]:
import numpy as np

#creating data frame from scraped data
temp=pd.DataFrame({})

temp['day']=day
temp['month']=month

bcci=pd.DataFrame({})
bcci['Match_title']=Match_title
bcci['Series']=Series
bcci['Place']=Place
bcci['Time']=Time


bcci['Date']=temp['day']+" "+ temp['month']

In [116]:
bcci.head(12)

,Match_title,Series,Place,Time,Date
0,Final,TEST ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",15:00 IST,18 JUNE
1,1st ODI,ODI SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",14:30 IST,13 JULY
2,2nd ODI,ODI SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",14:30 IST,16 JULY
3,3rd ODI,ODI SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",14:30 IST,18 JULY
4,1st T20I,T20I SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",19:00 IST,21 JULY
5,2nd T20I,T20I SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",19:00 IST,23 JULY
6,3rd T20I,T20I SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",19:00 IST,25 JULY
7,1st Test,TEST ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",15:30 IST,04 AUGUST
8,2nd Test,TEST ENGLAND V INDIA 2021,"Lord's, London",15:30 IST,12 AUGUST
9,3rd Test,TEST ENGLAND V INDIA 2021,"Headingley, Leeds",15:30 IST,25 AUGUST
10,4th Test,TEST ENGLAND V INDIA 2021,"The Oval, London",15:30 IST,02 SEPTEMBER
11,5th Test,TEST ENGLAND V INDIA 2021,"Old Trafford, Manchester",15:30 IST,10 SEPTEMBER

In [118]:
bcci.to_csv('Question_2bcci.csv') # saving scraped data to csv file

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [135]:
# connecting with web browser, opening url and opening elements on website
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url=('https://www.guru99.com/')
driver.get(url)

driver.find_element_by_xpath('//a[@title="Selenium"]').click()

driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [136]:
#creating lists to append scraped data
Name=[]
Description=[]
#scraping data from website
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
    Name.append(i.text)
    
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
    Description.append(i.text)

In [137]:
#creating dataframe from scraped data
guru=pd.DataFrame({})
guru['Name']=Name
guru['Description']=Description
guru.head()

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...

In [138]:
guru.to_csv('Question_3guru.csv') #saving file to csv from scraped data

4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [154]:
#creating connection to browser and opening url
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url=('http://statisticstimes.com/')
driver.get(url)

In [155]:
# navigating to desired page through clicking perticular elements on website
economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
    
gdp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gd.get_attribute('href'))

In [144]:
#creating lists to append scraped data
Rank=[]
State=[]
GSDP18=[]
GSDP19=[]
Share17=[]
GDPbillion=[]

# scraping data from website
rtags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[1]")
for i in rtags:
    Rank.append(i.text)
    
state_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[2]")
for i in state_tags:
    State.append(i.text)
    
gsdp18_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[4]")
for i in gsdp18_tags:
    GSDP18.append(i.text)
    

gsdp19_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[3]")
for i in gsdp19_tags:
    GSDP19.append(i.text)
    
share17_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[5]")
for i in share17_tags:
    Share17.append(i.text)
    
gdp=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[6]")
for i in gdp:
    GDPbillion.append(i.text)

In [146]:
#creating dataframe from scraped data
GDP=pd.DataFrame({"Rank":Rank[0:33],
                "State":State[0:33],
                "GSDP(18-19)":GSDP18[0:33],
                "GSDP(17-18)":GSDP19[0:33],
                 "Share(2017)":Share17[0:33],
                 "GDP($ billion)":GDPbillion[0:33]
                })

GDP.head(33)

,Rank,State,GSDP(18-19),GSDP(17-18),Share(2017),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [147]:
GDP.to_csv('Question_4GDP.csv') # saving data frame to csv file

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [457]:
#creating connection to browser, opening url and navigating to desired page
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = 'https://github.com/'
driver.get(url)
Trending = driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(Trending.get_attribute('href'))

In [472]:

#creating lists to append scraped data
Repository_title=[]
Repository_description=[] 
Contributors_count=[] 
Language_used=[]

# scraping data from website

repository_title = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for i in repository_title:
    Repository_title.append(i.text)




        
urls = []
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    urls.append(i.get_attribute("href"))

for URL in urls:
    
    try:
        driver.get(URL)
        count = driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/h2/a/span").text
        if count==' ':
            Contributors_count.append('---')
        else:
            Contributors_count.append(count)
    except NoSuchElementException :
        Contributors_count.append("---")
        
    try:    
        description = driver.find_element_by_xpath('//p[@class="f4 mt-3"]')
        if description.text==" ":
            
            Repository_description.append("---")
        else:
            
        
            Repository_description.append(description.text)
    
    except NoSuchElementException :
        
        Repository_description.append("---")
        
    

    
    try:
        language_used = driver.find_element_by_xpath('//li[@class="d-inline"]')
        if language_used.text==" ":
            Language_used.append("---")
        else:
            
            Language_used.append(language_used.text.replace('\n',' '))
        
    except NoSuchElementException :
        
        Language_used.append("---")
#creating dataframe from scraped data
        
GitHub_Repositories = pd.DataFrame({})
GitHub_Repositories['Repository_Title'] = Repository_title[:23]
GitHub_Repositories['Repository_Description'] = Repository_description[:23]
GitHub_Repositories['Contributors_Count'] = Contributors_count[:23]
GitHub_Repositories['Language_Used'] = Language_used[:23]

In [473]:
GitHub_Repositories

,Repository_Title,Repository_Description,Contributors_Count,Language_Used
0,facebookresearch / AugLy,"A data augmentations library for audio, image,...",,Python 100.0%
1,programthink / zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,,Python 100.0%
2,megaease / easegress,A Cloud Native traffic orchestration system,1,Go 98.8%
3,keras-team / keras,Deep Learning for humans,50,Python 97.6%
4,ibraheemdev / modern-unix,A collection of modern/faster/saner alternativ...,,---
5,tailwindlabs / tailwindcss,A utility-first CSS framework for rapid UI dev...,156,JavaScript 79.1%
6,n8n-io / n8n,Free and open fair-code licensed node based Wo...,,TypeScript 94.9%
7,harvester / harvester,Open source hyperconverged infrastructure (HCI...,11,Go 97.1%
8,organicmaps / organicmaps,"🍃 Organic Maps is a better fork of MAPS.ME, an...",139,C++ 61.1%
9,longhorn / longhorn,Cloud-Native distributed block storage built o...,59,Shell 69.6%
10,rancher / rancher,Complete container management platform,"1,428",Go 81.2%
11,rustdesk / rustdesk,Yet another remote desktop software,6,Rust 95.4%
12,kwai / DouZero,[ICML 2021] DouZero: Mastering DouDizhu with S...,,Python 98.8%
13,cariboulabs / cariboulite,CaribouLite turns any 40-pin Raspberry-Pi into...,,C 72.9%
14,willmcgugan / textual,A Text User Interface with Rich as the renderer,,Python 100.0%
15,prisma / prisma,Next-generation ORM for Node.js & TypeScript |...,99,TypeScript 97.2%
16,apache / incubator-shenyu,ShenYu is High-Performance Java API Gateway.,6,Java 99.4%
17,academic / awesome-datascience,📝 An awesome Data Science repository to learn ...,,---
18,vxunderground / MalwareSourceCode,Collection of malware source code for a variet...,4,Assembly 92.1%
19,bats3c / DarkLoadLibrary,LoadLibrary for offensive operations,,C 100.0%
20,EssayKillerBrain / EssayKiller_V2,基于开源GPT2.0的初代创作型人工智能 | 可扩展、可进化,,Python 63.1%
21,gohugoio / hugo,The world’s fastest framework for building web...,155,Go 99.0%
22,thanos-io / thanos,Highly available Prometheus setup with long te...,65,Go 80.8%

In [474]:
GitHub_Repositories.to_csv('Question_5GitHub_Repositories.csv')# saving data frame to csv file

6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [430]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.billboard.com/"
driver.get(url)

In [431]:
#creating connection to browser, opening url
charts=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))
    
time.sleep(3)

In [435]:
# navigating to desired page
one=driver.find_element_by_xpath("/html/body/main/div[2]/div/div[1]/a/div[2]/div[1]")
try:
    one.click()
except ElementNotInteractableException:
    
    driver.get(one.get_attribute('href'))

In [453]:
#creating lists to append scraped data
Name = []
Artist = []
Last_week_rank = []
Peak_rank = []
No_of_week = []
# scraping data from website
name = driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/span[2]/span[1]')
artist = driver.find_elements_by_xpath('//ol[@class="chart-list__elements"]/li/button/span[2]/span[2]')
last_week = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
no_of_week = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')

for i in name:
    
    try:
        Name.append(i.text)
        
    except NoSuchElementException :
        
        Name.append("---")
        
        
        
        
for i in artist:
    
    try:
        Artist.append(i.text)
        
    except NoSuchElementException :
        
        Artist.append("---")
        


for i in last_week:
    
    try:
        Last_week_rank.append(i.text)
        
    except NoSuchElementException :
        
        Last_week_rank.append("---")
        

for i in peak:
    
    try:
        Peak_rank.append(i.text)
        
    except NoSuchElementException :
        
        Peak_rank.append("---")
        


for i in no_of_week:
    
    try:
        No_of_week.append(i.text)
        
    except NoSuchElementException :
        
        No_of_week.append("---")

In [455]:
#creating dataframe from scraped data
Billi_Board = pd.DataFrame({})
Billi_Board['Song_Name'] = Name
Billi_Board['Artist_Name'] = Artist
Billi_Board['Last_Week_Rank'] = Last_week_rank
Billi_Board['Peak_Rank'] = Peak_rank
Billi_Board['Weeks_On_Board'] = No_of_week

In [456]:
Billi_Board

,Song_Name,Artist_Name,Last_Week_Rank,Peak_Rank,Weeks_On_Board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

In [475]:

Billi_Board.to_csv('Question_6Billi_Board.csv')# saving data frame to csv file

7.Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through cod

In [424]:
#creating connection to browser, opening url 
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.naukri.com/"
driver.get(url)

In [425]:
#navigating to desired page
rec=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a")
urlss=rec.get_attribute("href")
driver.get(urlss)

In [426]:
# accepting values as input and searching data based on it
search_bar = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")    # Locating searc_bar by id
search_bar.clear()    # clearing search_bar
val = input("Enter your value: ")
search_bar.send_keys(val)      

btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
btn.click()

Enter your value: Data Science

In [427]:

#creating lists to append scraped data

Name = []
Position = []
Company = []
Location = []
Skill = []

# scraping data from website

names = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a[1]')
urls = []
for i in names:
    Name.append(i.text)
    urls.append(i.get_attribute('href'))
    
for url in urls:
    driver.get(url)
    Position.append(driver.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[3]').text)
    Company.append(driver.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[4]').text)
    try:
        Location.append(driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a').text)
    except:
        Location.append('-')
    Skill.append(driver.find_element_by_xpath('//div[@class="fadeOutParent readMoreHt100 "]/div[2]/div/p').text)
    
    
#creating dataframe from scraped data

    
DS_Recruiters = pd.DataFrame({})
DS_Recruiters['Name'] = Name
DS_Recruiters['Designation'] = Position
DS_Recruiters['Company'] = Company
DS_Recruiters['Location'] = Location
DS_Recruiters['Skill_Hire'] = Skill

DS_Recruiters

,Name,Designation,Company,Location,Skill_Hire
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer , Internet Marketing Pro..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net , Java , Data Science , Linux Administrat..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Mid Level, Junior Level"
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,", Mean Stack , javascript , angularjs , mongod..."
4,subhas patel,Founder & CEO,LibraryXProject,UK - (london),"Hadoop , Spark , Digital Strategy , Data Archi..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics , Business Intelligence , Business A..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Analytics & Business Intelligence
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning , algorithms , Go Getter , Co..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,Weupskill- Live Wire India
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Junior Level, Mid Level"
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa , Ui , ux , Java Developer , Java Architect..."
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,MoneyTap
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,QuantMagnum Technologies Pvt. Ltd.
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,IT Skills
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Junior Level, Mid Level"
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data , Hadoop , Data Analytics , Data Science"
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,Mid Level
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,IT-Software/Software Services
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,Delhi,"Mid Level, Top Mangement Level"
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics , Data Science , Machine Learni..."
20,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Junior Level, Mid Level"
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Mid Level, High Level"
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"High Level, Mid Level"
23,Shaun Rao,Manager - Human Resources,Exela Technologies,Pune,"Java , Net , Angularjs , Hr , Infrastructure ,..."
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,Bengaluru / Bangalore,"High Level, Top Mangement Level"
25,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science , Hadoop , Rpas , Devops , Python..."
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,Others,"Signal Processing , Machine Learning , Neural ..."
27,Rajat Kumar,Founder & CEO,R.S Consultancy & Services,Delhi,"Web Technologies , Project Management , Softwa..."
28,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,Independent Consultant
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"S. Finance Manager , Freshers , Experience , S..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics , Managed Services , Team Leading"
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED
32,Radha Manivasagam,HR Executive,Techcovery,Bengaluru / Bangalore,Junior Level
33,Prateek Kumar,Head,Trisect,Noida,Junior Level
34,Amit Sharma,Consultant,ASCO consulting,New Delhi,ASCO consulting
35,Kanan,senior technology instructor,NY INST,Chennai,"Mid Level, Junior Level"
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India,Aligarh,3D India Staffing Research & Consulting Co. India
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Junior Level, High Level"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Python , Php , Qa Automation , Ui , Wordpre"
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,MADHUSUDHAN SRIDHAR
40,Ankit Sinha,Head-Analytics,Suntech Global,Mumbai,Suntech Global (Since Feb-2018)
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Top Mangement Level, Junior Level"
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science , Node.js , Angularjs"
43,Ashwini,"Director, Global Delivery",MRP Advisers,MYSORE,MRP Advisers (Since Oct-2017)
44,Balaji Kolli,Co-Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,Saras Solutions India Pvt Ltd
45,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"java , hadoop , r , Machine Learning , spark ,..."
46,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Mid Level, High Level"
47,Amir Chowdhury,Managing Partner,Granular.ai,,Granular.ai
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,Certybox Pvt.Ltd.
49,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals , Engineering , Technic..."

In [476]:

DS_Recruiters.to_csv('Question_7S_Recruiters.csv')# saving data frame to csv file

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [267]:
#creating connection to browser, opening url 
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [276]:
#creating lists to append scraped data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]




# scraping data from website


bn=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in bn:
    Book_name.append(i.text)

    
an=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in an:
    Author_name.append(i.text)
    
vs=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in vs:
    Volumes_sold.append(i.text)
    
ps=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in ps:
    Publisher.append(i.text)

gen=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in gen:
    Genre.append(i.text)

In [279]:


#creating dataframe from scraped data

guard=pd.DataFrame({})
guard['Book_name']=Book_name
guard['Author_name']=Author_name
guard['Volumes_sold']=Volumes_sold
guard['Publisher']=Publisher
guard['Genre']=Genre

guard.head()

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

In [280]:
guard.to_csv('Question_8guard.csv')# saving data frame to csv file

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [119]:
#creating connection to browser, opening url
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [123]:
#creating lists to append scraped data
Name=[]

Year_span=[] 

Genre=[]

Run_time=[]

Ratings=[]
Votes=[]
# scraping data from website

nn=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in nn:
    Name.append(i.text.replace('\n',' '))
    
    
ys=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in ys:
    Year_span.append(i.text.replace('\n',' '))
    
    
gen=driver.find_elements_by_xpath("//span[@class='genre']")
for i in gen:
    Genre.append(i.text.replace('\n',' '))
    
    
    
rt=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in rt:
    Ratings.append(i.text.replace('\n',' '))
    
rtim=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in rtim:
    Run_time.append(i.text.replace('\n',' '))
        
    
vt=driver.find_elements_by_xpath("//span[@name='nv']")
for i in vt:
    Votes.append(i.text.replace('\n',' '))

In [126]:
#creating dataframe from scraped data

imdb1=pd.DataFrame({})

imdb1['Name']=Name
imdb1['Year_span']=Year_span
imdb1['Genre']=Genre
imdb1['Run_time']=Run_time
imdb1['Ratings']=Ratings
imdb1['Votes']=Votes

imdb1.head(100)

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,823,093"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"863,747"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,455"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,676"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,017"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,576"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,064"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,711"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,882"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,402"

In [127]:
imdb1.to_csv('Question_9imdb1.csv')# saving data frame to csv file

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [156]:
#creating connection to browser, opening url 
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://archive.ics.uci.edu/"
driver.get(url)

In [157]:
# navigating to desired page
time.sleep(10)
all_=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
try:
    all_.click()
except ElementNotInteractableException:
    driver.get(all_.get_attribute('href'))

In [260]:
#creating lists to append scraped data
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]





# scraping data from website
dn=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr/td[2]/p/b/a")
for i in dn:
    Dataset_name.append(i.text)

dt=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table/tbody/tr/td[2]/p")
k=0
for i in dt:
    k=k+1
    if k>=3:
        if i.text!=' ':
            Data_type.append(i.text)
        else:
            Data_type.append("not mentioned ")


noi=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
k=0
for i in noi:
    k=k+1
    if k>=2:
        if i.text!=' ':
            No_of_instances.append(i.text)
        else:
            No_of_instances.append("not mentioned ")
            

tsk=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
k=0
for i in tsk:
    k=k+1
    if k>=2:
        if i.text!=' ':
            Task.append(i.text)
        else:
            Task.append("not mentioned ")
            
            
            
att=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
k=0
for i in att:
    k=k+1
    if k>=2:
        if i.text!=' ':
            Attribute_type.append(i.text)
        else:
            Attribute_type.append("not mentioned ")
            
            
noa=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
k=0
for i in noa:
    k=k+1
    if k>=2:
        if i.text!=' ':
            No_of_attribute.append(i.text)
        else:
            No_of_attribute.append("not mentioned ")
            
ye=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
k=0
for i in ye:
    k=k+1
    if k>=2:
        if i.text!=' ':
            Year.append(i.text)
        else:
            Year.append("not mentioned ")

In [261]:
#creating dataframe from scraped data
UCI=pd.DataFrame({})

UCI['Dataset_name']=Dataset_name
UCI['Data_type']=Data_type
UCI['Task']=Task
UCI['Attribute_type']=Attribute_type
UCI['No_of_instances']=No_of_instances
UCI['No_of_attribute']=No_of_attribute
UCI['Year']=Year

UCI.head()

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,not mentioned
3,Anonymous Microsoft Web Data,not mentioned,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998

In [262]:
UCI.to_csv('Question_10UCI.csv')# saving data frame to csv file